---
layout: page
title: Repositories
description: "My Github index and blog site."
tags: [repositories]
comments: false
image:
feature: lazers.jpg
credit: Q-Dance
creditlink: http://www.q-dance.com/
---

            <table class="repo-table">
                <thead>
                    <tr>
                        <th>Repository</th>
                        <th>Description</th>
                        <th class="repo-table-border-left"><i class="fa fa-star"></i></th>
                        <th class="repo-table-border-left"><i class="fa fa-code-fork"></i></th>
                        <th class="repo-table-border-left"><i class="fa fa-eye"></i></th>

                    </tr>
                </thead>
                <tbody>
                    {% for repo in site.github.public_repositories %}
                    <tr>
                        <td class="repo-table-name"><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></td>
                        <td class="repo-table-desc">{{ repo.description }}</td>
                        <td class="repo-table-border-left">{% if repo.stargazers_count > 0 %}{{ repo.stargazers_count }}{% endif %}</td>
                        <td class="repo-table-border-left">{% if repo.forks > 0 %}{{ repo.forks }}{% endif %}</td>
                        <td class="repo-table-border-left">{% if repo.watchers > 0 %}{{ repo.watchers }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
