// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: $font-size;
$doc-line-height: 26;

// set-up the body font-size / line-height
body {
    margin-top: 0px + $doc-line-height;
    font-size: 0px + $doc-font-size;
}


// Screen Size
// --------------------------------------------------

$small: "only screen and (min-width: 720px)";
$medium: "only screen and (min-width: 940px)";
$large: "only screen and (min-width: 1140px)";